* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/img/mapa.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;

  display: flex;

  align-items: center;
  justify-content: center;
}

.max-box {
  background-color: #000000f2;
  width: 450px;
}
