* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("/img/mapa.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;

  display: flex;

  align-items: center;
  justify-content: center;
}

.max-box {
  background-color: #000000f2;
  width: 550px;
  height: 400px;
  border-radius: 25px;
  padding: 20px;
}

.inputText {
  width: 100%;
  height: 150px;
  border: none;
  outline: none;
  background-color: #ffffff1a;
  border-radius: 15px;
  color: #ffffff;
  font-size: 16px;
  padding: 15px;
}

.languages {
  width: 100%;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  background-color: #ffffff1a;
  color: #ffffff;
}

button {
  border: none;
  padding: 10px;
  background-color: #ffffff1a;
  border-radius: 50%;
  cursor: pointer;
}

.control {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.output {
  background-color: #ffffff1a;
  border-radius: 15px;
  padding: 15px;
  height: 128px;
}

.translate-title {
  color: #ffffff99;
  font-size: 14px;
  margin-bottom: 10px;
}

.translation {
  color: #ffffff;
  font-size: 16px;
}
